<table id="calendar" cellspacing="0" cellpadding="0" summary="This month's calendar">


  <tr style="    height: 115px;">

    <th scope="col" abbr="Hora" title="Hora">Hora</th>

    <th scope="col" abbr="Sunday" title="Sunday">Domingo</th>

    <th scope="col" abbr="Monday" title="Monday">Lunes</th>

    <th scope="col" abbr="Tuesday" title="Tuesday">Martes</th>

    <th scope="col" abbr="Wednesday" title="Wednesday">Miercoles</th>

    <th scope="col" abbr="Thursday" title="Thursday">Jueves</th>

    <th scope="col" abbr="Friday" title="Friday">Viernes</th>

    <th scope="col" abbr="Saturday" title="Saturday">Sabado</th>

  </tr>

  <tr>
    <td>7am - 9am</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>


  <tr>
    <td>9am - 11am</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>


  <tr>
    <td>11am - 1pm</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>1pm - 2pm</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>2pm - 4pm</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>4pm - 6pm</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>6pm - 8pm</td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td class="today">1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>





</table>

<div class="col-2 menuInfo">
  <div class="titulo">
    <h1 style="font-size: 1.5rem;">Detalle del dia</h1>
  </div>

</div>
