<footer class="footer-content py-sm-5 py-4">
  <div class="container py-xl-5 py-lg-3">
    <div class="contact_grid_left">
      <ul class="list-unstyled row loaction-content">
        <li class="col-lg-4 address-content-inf-w3ls">
          <div class="row">
            <div class="col-md-9 icon-right">
              <h6>Sobre Nosotros</h6>
              <p>The company name
                <br>New York City. </p>
            </div>
          </div>
        </li>
        <li class="col-lg-4 address-content-inf-w3ls">
          <div class="row">
            <div class="col-md-9 icon-right">
              <h6>Navegación</h6>
              <ul class="list-group">
                <li class="list-group-item"> <a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="list-group-item"> <a [routerLink]="[ '/servicios' ]">Servicios</a></li>
                <li class="list-group-item"> <a [routerLink]="[ '/precios' ]">Precios</a></li>
                <li class="list-group-item"> <a [routerLink]="[ '/contactos' ]">Contacto</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col-lg-4 address-content-inf-w3ls">
          <div class="row">
            <div class="col-md-9 icon-right">
              <h6>Suscribete</h6>
              <input type="text" class="form-control" id="Correo" placeholder="Correo" name="Correo">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
