<div class="contenedorTitulo" *ngIf="estudiante && conTitulo">
  <h1 class="letraTexto">Estudiantes</h1>
</div>

<div class="row" *ngIf="estudiante">
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">Gratis</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">70$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">70$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="contenedorTitulo" *ngIf="entidad && conTitulo">
  <h1 class="letraTexto">Entidades educativas</h1>
</div>

<div class="row" *ngIf="entidad">
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">50$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">70$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper">
      <div class="date">
        <span class="day">70$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a>Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second
            major boxing blockbuster in the nation after 43 years.</p>
        </div>
      </div>
    </div>
  </div>

</div>
