<div class="contenedorTitulo" *ngIf="estudiante && conTitulo">
  <h1 class="letraTexto">Estudiantes</h1>
</div>

<div class="row" *ngIf="estudiante">
  <div class="example-1 card col-sm">
    <div class="wrapper firstEstudiante">
      <div class="date">
        <span class="day">Gratis</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edición basica</span>
          <h1 class="title"><a>Contenido local + 10 amigos.</a></h1>
          <p class="text">Esta licencia permite que el usuario comparta sus trabajos con 10 amigos que esten en la misma
            entidad educativa.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper secondEstudiante">
      <div class="date">
        <span class="day">12$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edición intermedia</span>
          <h1 class="title"><a>Contenido por entidad academica.</a></h1>
          <p class="text">Esta licencia permite que el usuario comparta sus trabajos con toda la entidad educativa y ver
            el contenido de todos los usuarios de la entidad.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper thirdEstudiante">
      <div class="date">
        <span class="day">20$</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edición completa</span>
          <h1 class="title"><a>Todo el conenido</a></h1>
          <p class="text">Esta edicion permite ver el contenido de todas las entidades educativas y todos los usuarios
            de las mismas.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="contenedorTitulo" *ngIf="entidad && conTitulo">
  <h1 class="letraTexto">Entidades educativas</h1>
</div>

<div class="row" *ngIf="entidad">
  <div class="example-1 card col-sm">
    <div class="wrapper firstEntidad">
      <div class="date">
        <span class="day">1000$ + adds</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edicion inicio</span>
          <h1 class="title"><a>1 servicio personalizado y 2 existentes (100 usuarios)</a></h1>
          <p class="text">Esta licencia permite a la entidad educativa la creacion de un modulo personalizado y dos del
            banco de modulos exitentes, con una restriccion de 100 usuarios.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper secondEntidad">
      <div class="date">
        <span class="day">1500$ + adds</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edicion facultad</span>
          <h1 class="title"><a>3 servicios personalizados y 2 existentes (400 usuarios)</a></h1>
          <p class="text">Esta licencia permite a la entidad educativa la creacion de tres modulos personalizados y dos
            del
            banco de modulos exitentes, con una restriccion de 400 usuarios.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="example-1 card col-sm">
    <div class="wrapper thirdEntidad">
      <div class="date">
        <span class="day">2000$ + adds</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Edicion completa</span>
          <h1 class="title"><a>4 servicios personalizados y 4 existentes (1000 usuarios)</a></h1>
          <p class="text">Esta licencia permite a la entidad educativa la creacion de cuatro modulos personalizados y
            cuatro del
            banco de modulos exitentes, con una restriccion de 1000 usuarios.</p>
        </div>
      </div>
    </div>
  </div>

</div>
