<div class="content-forma" style="background-size: 100% 100%;">

  <div class="datos-contenedor">
    <div class="datosContacto">

      <div class="contenedorDatosContacto" style="visibility: hidden;">
        <h1>sdaadasd</h1>
        <h1>adadasdad</h1>
        <h1>asfasfas</h1>
      </div>



    </div>

    <div class="textoInferiores">

      <div class="contenedorTextoInferiores">
        <h1>INICIAR PROYECTO</h1>
        <h1>/ CONTACTO </h1>
        <h1>Envíame un mensaje por el medio que más te sea conveniente. La oportunidad de mejorar el servicio a tu
          comunidad estudiantil esta a un solo click.</h1>
      </div>

    </div>

  </div>



  <div class="formulario">


    <div class="contornoFormulario">

      <div class="contacto">
        <p>sdfddsfadf</p>
      </div>

      <div class="form-group">
        <input type="text" class="form-control botonForm" id="inputNombre" aria-describedby="helpId"
          placeholder="Nombre">
        <input type="email" class="form-control botonForm" name="" id="inputEmail" aria-describedby="helpId"
          placeholder="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$">
        <textarea class="form-control textAreaForm" name="" id="inputMensaje" rows="3" placeholder="Nota"></textarea>
        <button type="button" class="btn btn-block btn-dark botonForm">Enviar</button>
      </div>
    </div>

  </div>
