<div class="contenedorFondo">


  <div class="row">
    <div class="col-6">



      <body>
        <div class="container">
          <div *ngFor="let item of informacionServicios; let i=index" [ngClass]="{'activa': i==servicioActual}"
            class="card" (mouseenter)="hover(item,i)">
            <h3 class="title">{{informacionServicios[i].titulo}}</h3>
            <div class="bar">
              <div class="emptybar"></div>
              <div class="filledbar"></div>
            </div>
            <div class="foto">
              <img [src]="informacionServicios[i].img" alt="">
            </div>
          </div>

        </div>
      </body>



    </div>
    <div class="contenedorTexto col-6">

      <h1>
        {{informacionServicios[servicioActual].nombre}}
      </h1>
      <p>
        {{informacionServicios[servicioActual].informacion}}
      </p>

    </div>
  </div>


</div>
