<body>
  <header>
    <div class="contHeader">
      <div class="logoHeader">
        <a [routerLink]="[ '/home' ]">
          <img src="../../../../assets/images/sapiensLogo.png" style="cursor: pointer">
        </a>
      </div>
    </div>
  </header>
  <section class="seccionFormulario">
    <div class="contenedorPrincipal">
      <div class="ContenedorFormulario">

        <h1 class="titulo">Elige tu licencia</h1>
        <div class="contenedorPrimero form-group">
          <div class="formulario">
            <div class="tabs">
              <input class="ocultar" (click)="setPlan('estudiante')" checked="" id="tab1" name="tab" type="radio">
              <label for="tab1">Estudiante</label>
              <input class="ocultar" (click)="setPlan('entidad')" id="tab2" name="tab" type="radio">
              <label for="tab2">Entidad educativa</label>
              <div class="tab" [ngClass]="{'ocultar': tipoLicencia!== 'estudiante'}">


                <app-column-cards [estudiante]="true" [entidad]="false" [conTitulo]="false"></app-column-cards>


                <div class="form-group form-datosGenerales">

                  <h2 style="text-align:center;margin-bottom: 25px;">Datos generales</h2>


                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-6">
                      <label for="">Nombre</label>
                      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="col-6">
                      <label for="">Apellido</label>
                      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                  </div>

                  <label for="">Correo Institucional</label>
                  <input style="margin-bottom: 5px;" type="email" name="" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">

                  <label for="">Numero Telefonico</label>
                  <input style="margin-bottom: 5px;" type="number" name="" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">

                </div>


                <h2 style="text-align:center;margin-bottom: 25px;">Metodo de pago</h2>


                <ul class="list-group list-group-horizontal">
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'tarjeta'}"
                    (click)="seleccionarMetodoPago('tarjeta')" class="list-group-item col-4">Tarjeta de credito</li>
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'efectivo'}"
                    (click)="seleccionarMetodoPago('efectivo')" class="list-group-item col-4">Efectivo</li>
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'consignacion'}"
                    (click)="seleccionarMetodoPago('consignacion')" class="list-group-item col-4">Consignación</li>
                </ul>



                <div *ngIf="tipoMetodoPago == 'tarjeta'">
                  <div class="contenedorTarjeta">
                    <label class="LabelDocumento">Tipo de tarjeta <a class="itemRequerido"><span>*</span></a></label>
                    <div class="column50">
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-american" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-american.png">
                        American Express</p>
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-master" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-master.png"> Master
                        Card</p>
                    </div>
                    <div class="column50">
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-diners" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-diners.png"> Diners
                        Club</p>
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-visa" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-visa.png"> Visa</p>
                    </div>
                    <app-payment-card [tipoTarjeta]="buttonTarjetaTipo"></app-payment-card>
                  </div>
                </div>
                <div *ngIf="tipoMetodoPago == 'efectivo'">

                  <div class="form-group" style="margin-top: 20px">
                    <label for="">Codigo de asesor</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>

                </div>
                <div *ngIf="tipoMetodoPago == 'consignacion'">

                  <div class="form-group " style="margin-top: 20px">
                    <label for="">Numero de cuenta</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Documento de identidad</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Direcciòn</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

                  </div>

                </div>


              </div>
              <div class="tab" [ngClass]="{'ocultar': tipoLicencia!== 'entidad'}">
                <app-column-cards [estudiante]="false" [entidad]="true" [conTitulo]="false"></app-column-cards>


                <div class="form-group form-datosGenerales">

                  <h2 style="text-align:center;margin-bottom: 25px;">Datos generales</h2>


                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-6">
                      <label for="">Nombre de la Entidad educativa</label>
                      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="col-6">
                      <label for="">Nit / identificación </label>
                      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                  </div>

                  <label for="">Dirección</label>
                  <input style="margin-bottom: 5px;" type="email" name="" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">

                  <label for="">Numero Telefonico</label>
                  <input style="margin-bottom: 5px;" type="number" name="" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">

                </div>


                <h2 style="text-align:center;margin-bottom: 25px;">Metodo de pago</h2>


                <ul class="list-group list-group-horizontal">
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'tarjeta'}"
                    (click)="seleccionarMetodoPago('tarjeta')" class="list-group-item col-4">Tarjeta de credito</li>
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'efectivo'}"
                    (click)="seleccionarMetodoPago('efectivo')" class="list-group-item col-4">Efectivo</li>
                  <li [ngClass]="{'activoMetodo': tipoMetodoPago == 'consignacion'}"
                    (click)="seleccionarMetodoPago('consignacion')" class="list-group-item col-4">Consignación</li>
                </ul>



                <div *ngIf="tipoMetodoPago == 'tarjeta'">
                  <div class="contenedorTarjeta">
                    <label class="LabelDocumento">Tipo de tarjeta <a class="itemRequerido"><span>*</span></a></label>
                    <div class="column50">
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-american" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-american.png">
                        American Express</p>
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-master" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-master.png"> Master
                        Card</p>
                    </div>
                    <div class="column50">
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-diners" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-diners.png"> Diners
                        Club</p>
                      <p><input [(ngModel)]="buttonTarjetaTipo" name="metodoPagoDetallePago" type="radio"
                          value="icon-visa" class="ng-untouched ng-pristine ng-invalid"><img
                          src="/assets/images/icon-visa.png"> Visa</p>
                    </div>
                    <app-payment-card [tipoTarjeta]="buttonTarjetaTipo"></app-payment-card>
                  </div>
                </div>

                <div *ngIf="tipoMetodoPago == 'efectivo'">

                  <div class="form-group " style="margin-top: 20px">
                    <label for="">Codigo de asesor</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>

                </div>
                <div *ngIf="tipoMetodoPago == 'consignacion'">

                  <div class="form-group" style="margin-top: 20px">
                    <label for="">Numero de cuenta</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Documento de identidad</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Direcciòn</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

                  </div>

                </div>


              </div>



            </div>
          </div>


        </div>

      </div>
      <div class="ContenedorTotalFix">
        <div class="total">
          <h2>Resumen de Pedido</h2>
          <table>
            <tbody>
              <tr>
                <td colspan="2">Producto:</td>
              </tr>
              <tr>
                <td>licencia estudiantil tipo 1</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">-</td>
              </tr>
              <tr>
                <td>Cantidad</td>
                <td align="right">1</td>
              </tr>
              <tr>
                <td>IVA</td>
                <td align="right">0</td>
              </tr>
              <tr>
                <td colspan="2">
                  <hr>
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td align="right">0</td>
              </tr>
            </tbody>
          </table>

          <br><br><br>
          <button type="button" name="" id="" class="btn btn-dark btn-block">Pagar</button>


        </div>

      </div>
    </div>

  </section>

  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal"
    style="visibility: hidden">Open Modal</button>

</body>



<!-- Modal -->
<div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar evento</h5>
        <button (click)="router('home')" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div style="margin-bottom: 30px">
          <label for="">Si usted ya realizo una cotizacion previa y hablo con alguno de nuestros asesores digite el
            codigo suministrado por nuestro personal de comercial</label>
          <input type="text" name="" id="" class="form-control" placeholder="Codigo de compra"
            aria-describedby="helpId">

        </div>



        <div class="form-group">
          <label for="">Comuniquese con nuestros asesores al :</label>
          <ul>
            <li>
              <label for="">+57 312 3313 </label>
            </li>
            <li>
              <label for=""> 312 3313 </label>
            </li>
            <li>
              <label for=""> sapiensVentas@sapiens.com.co </label>
            </li>

          </ul>

        </div>


      </div>
      <div class="modal-footer">
        <button (click)="router('home')" type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>
