<section>
  <div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <input type="radio" name="slides" id="slides_4" />
    <ul>
      <li>
        <div id="bg">
          <div class="banner-info-wthree">
            <div class="container">
              <h3>Servicios personalizados a la medida</h3>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div id="bg1">
          <div class="banner-info-wthree">
            <div class="container">
              <h3>Espacios hechos por estudiantes y para estudiantes</h3>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div id="bg2">
          <div class="banner-info-wthree">
            <div class="container">
              <h3>Los servicios de tu universidad en un solo lugar</h3>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div id="bg3">
          <div class="banner-info-wthree">
            <div class="container">
              <h3>mejora y ahorra tiempo de tu vida estudiantil</h3>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="arrows">
      <label for="slides_1"></label>
      <label for="slides_2"></label>
      <label for="slides_3"></label>
      <label for="slides_4"></label>
    </div>
    <div class="navigation">
      <div>
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_4"></label>
      </div>
    </div>
  </div>
</section>

<!-- cards -->
<section class="blog_hcls_w3layouts py-lg-5 py-5" id="team">
  <div class="container py-sm-5 py-4">
    <div class="header py-lg-5 py-3 text-center">
      <h3 class="tittle mb-lg-3 mb-3">Nuestros servicios</h3>
    </div>
    <div class="feature-grids row text-center">
      <div class="col-lg-4 photo-gd">
        <div class="thumbnail card">
          <div class="img-event">
            <img class="list-group-image img-fluid" src="../assets/images/team1.jpg" alt="">
          </div>
          <div class="caption card-body p-lg-5 p-3">
            <h4 class="group card-title inner list-group-item-heading">
              Software a la medida
            </h4>
            <p class="list-group-item-text">
              Lleva todos los servicios que tiene tu entidad educativa a un solo lugar, gestiona y crea espacios
              dedicados a cubrir las necesidades de tus estudiantes y personal administrativo.</p>
            <div class="botonAccion">


              <button [routerLink]="[ '/contactos' ]" type="submit" class="btn btn-default">CONTACTANOS</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 photo-gd">
        <div class="thumbnail card">
          <div class="img-event">
            <img class="list-group-image img-fluid" src="../assets/images/team2.jpg" alt="">
          </div>
          <div class="caption card-body p-lg-5 p-3">
            <h4 class="group card-title inner list-group-item-heading">
              Soporte de software
            </h4>
            <p class="list-group-item-text">
              Manten tu software actualizado y al pendiente de tus necesidades, con el soporte cubriran las necesidades
              cambiantes de tu plantel educativo.</p>
            <div class="botonAccion">
              <button [routerLink]="[ '/inicio-sesion' ]" type="submit" class="btn btn-default">INICIA SESIÓN</button>
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-4 photo-gd">
        <div class="thumbnail card">
          <div class="img-event">
            <img class="list-group-image img-fluid" src="../assets/images/team2.jpg" alt="">
          </div>
          <div class="caption card-body p-lg-5 p-3">
            <h4 class="group card-title inner list-group-item-heading">
              Banco gratuito de informacion</h4>
            <p class="list-group-item-text">
              Como estudiante lo mas dificil es tener los elementos necesarios para estudiar, en un solo lugar
              encontraras todas las herramientas para poder iniciar.</p>
            <div class="botonAccion">
              <button [routerLink]="[ '/registro' ]" type="submit" class="btn btn-default">registrate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
