.botonAccion button.btn.btn-default {
  width: 100%;
  margin-top: 34px;
}

.botonAccion button.btn {
  background: #181a1d;
  padding: 10px 30px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  border: transparent;
  width: 100%;
}

.botonAccion button.btn:hover {
  background: #ffa801;
}


/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  scroll-behavior: smooth;
}

body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  font-size: 1em;
  color: #8c9398;
  line-height: 2em;
  letter-spacing: 1px;
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 330px) {

  nav ul li {
    display: block;
    width: 94%;
  }

}

.csslider {
  text-align: left;
  position: relative;
  margin-bottom: 0px;
}

.csslider>input {
  display: none;
}

.csslider>input:nth-of-type(10):checked~ul li:first-of-type {
  margin-left: -900%;
}

.csslider>input:nth-of-type(9):checked~ul li:first-of-type {
  margin-left: -800%;
}

.csslider>input:nth-of-type(8):checked~ul li:first-of-type {
  margin-left: -700%;
}

.csslider>input:nth-of-type(7):checked~ul li:first-of-type {
  margin-left: -600%;
}

.csslider>input:nth-of-type(6):checked~ul li:first-of-type {
  margin-left: -500%;
}

.csslider>input:nth-of-type(5):checked~ul li:first-of-type {
  margin-left: -400%;
}

.csslider>input:nth-of-type(4):checked~ul li:first-of-type {
  margin-left: -300%;
}

.csslider>input:nth-of-type(3):checked~ul li:first-of-type {
  margin-left: -200%;
}

.csslider>input:nth-of-type(2):checked~ul li:first-of-type {
  margin-left: -100%;
}

.csslider>input:nth-of-type(1):checked~ul li:first-of-type {
  margin-left: 0%;
}

.csslider>ul {
  position: relative;
  height: 650px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.csslider>ul>li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.csslider>ul>li.scrollable {
  overflow-y: scroll;
}

.csslider>.navigation {
  position: absolute;
  bottom: 7%;
  left: 49%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider>.navigation>div {
  margin-left: -100%;
}

.csslider>.navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  background: #fff;
}

.csslider>.navigation label:hover:after {
  opacity: 1;
}

.csslider>.navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
  background: #ffa801;
  border-radius: 50%;
  padding: 7px;
  opacity: 0;
}

.csslider>.arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}

.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}

.csslider>input:nth-of-type(1):checked~.navigation label:nth-of-type(1):after,
.csslider>input:nth-of-type(2):checked~.navigation label:nth-of-type(2):after,
.csslider>input:nth-of-type(3):checked~.navigation label:nth-of-type(3):after,
.csslider>input:nth-of-type(4):checked~.navigation label:nth-of-type(4):after,
.csslider>input:nth-of-type(5):checked~.navigation label:nth-of-type(5):after,
.csslider>input:nth-of-type(6):checked~.navigation label:nth-of-type(6):after,
.csslider>input:nth-of-type(7):checked~.navigation label:nth-of-type(7):after,
.csslider>input:nth-of-type(8):checked~.navigation label:nth-of-type(8):after,
.csslider>input:nth-of-type(9):checked~.navigation label:nth-of-type(9):after,
.csslider>input:nth-of-type(10):checked~.navigation label:nth-of-type(10):after,
.csslider>input:nth-of-type(11):checked~.navigation label:nth-of-type(11):after {
  opacity: 1;
}

.csslider>.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 26px;
  z-index: 1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.csslider>.arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 9px;
  box-shadow: inset 2px -2px 0 1px #ffffff;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
}

.csslider>.arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #30c39e;
  margin: 0 0px;
}

.csslider>.arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}

.csslider.infinity>input:first-of-type:checked~.arrows label.goto-last,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(0),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(1),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(5):checked~.arrows>label:nth-of-type(4),
.csslider>input:nth-of-type(6):checked~.arrows>label:nth-of-type(5),
.csslider>input:nth-of-type(7):checked~.arrows>label:nth-of-type(6),
.csslider>input:nth-of-type(8):checked~.arrows>label:nth-of-type(7),
.csslider>input:nth-of-type(9):checked~.arrows>label:nth-of-type(8),
.csslider>input:nth-of-type(10):checked~.arrows>label:nth-of-type(9),
.csslider>input:nth-of-type(11):checked~.arrows>label:nth-of-type(10) {
  display: block;
  left: 5%;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.csslider.infinity>input:last-of-type:checked~.arrows label.goto-first,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(4),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(5),
.csslider>input:nth-of-type(5):checked~.arrows>label:nth-of-type(6),
.csslider>input:nth-of-type(6):checked~.arrows>label:nth-of-type(7),
.csslider>input:nth-of-type(7):checked~.arrows>label:nth-of-type(8),
.csslider>input:nth-of-type(8):checked~.arrows>label:nth-of-type(9),
.csslider>input:nth-of-type(9):checked~.arrows>label:nth-of-type(10),
.csslider>input:nth-of-type(10):checked~.arrows>label:nth-of-type(11),
.csslider>input:nth-of-type(11):checked~.arrows>label:nth-of-type(12) {
  display: block;
  right: 5%;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

#slider1>ul>li:nth-of-type(1) {
  background: url(../../../assets/images/home3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider1>ul>li:nth-of-type(2) {
  background: url(../../../assets/images/home2.jpg) no-repeat center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider1>ul>li:nth-of-type(3) {
  background: url(../../../assets/images/home1.jpg) no-repeat center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider1>ul>li:nth-of-type(4) {
  background: url(../../../assets/images/home4.jpg) no-repeat center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider1>input:nth-of-type(1):checked~ul #bg,
#slider1>input:nth-of-type(2):checked~ul #bg1,
#slider1>input:nth-of-type(3):checked~ul #bg2,
#slider1>input:nth-of-type(4):checked~ul #bg3 {
  width: 100%;
  -moz-transition: 0.5s 0.5s;
  -o-transition: 0.5s 0.5s;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
  text-align: center;
  padding: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.17);
}

#slider1>input:nth-of-type(1):checked~ul #bg div,
#slider1>input:nth-of-type(2):checked~ul #bg1 div,
#slider1>input:nth-of-type(3):checked~ul #bg2 div,
#slider1>input:nth-of-type(4):checked~ul #bg3 div {
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  -moz-transition: 0.5s 0.9s;
  -o-transition: 0.5s 0.9s;
  -webkit-transition: 0.5s 0.9s;
  transition: 0.5s 0.9s;
}

#bg,
#bg1,
#bg2,
#bg3 {
  color: #fff;
  padding: 22px 0;
  z-index: 10;
  overflow: hidden;
}

#bg:before,
#bg1:before,
#bg2:before,
#bg3:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 1px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#bg:after,
#bg1:after,
#bg2:after,
#bg3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  pointer-events: none;
}

#bg div,
#bg1 div,
#bg2 div,
#bg3 div {
  -moz-transform: translate(120%);
  -ms-transform: translate(120%);
  -o-transform: translate(120%);
  -webkit-transform: translate(120%);
  transform: translate(120%);
}

.scrollable p {
  padding: 30px;
  text-align: justify;
  line-height: 140%;
  font-size: 120%;
}

#center {
  text-align: center;
  margin-top: 25%;
}

#center a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-variant: small-caps;
}

.banner-info-wthree h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10px;
  margin-bottom: 10px;
  color: #ffa801;
}

.banner-info-wthree h3 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.banner-info-wthree {
  padding: 15em 0 0;
  text-align: center;
  width: 60%;
  margin: auto;
}

.banner-info-wthree p {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: .5px;
}

.bs-slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.bs-slider-overlay1 {
  width: 100%;
  height: 100%;
  /* background: url(../src/assets/images/dott.png)repeat 0px 0px; */
  background-size: 2px;
  -webkit-background-size: 2px;
  -moz-background-size: 2px;
  -o-background-size: 2px;
  -ms-background-size: 2px;
}

h4.agile-title,
h1.agile-title,
h2.agile-title {
  letter-spacing: 2px;
  line-height: 1.4em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
}

h5.tag {
  display: block;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}


@media screen and (max-width: 640px) {
  .banner-info-wthree {
    padding: 9em 0 0;
    width: 90%;
  }

  .popup {
    width: 80%;
  }
}

.thumbnail.card {
  height: 443px;
}


.botonAccion {
  bottom: 0px;
  position: absolute;
  margin-bottom: 29px;
  width: 250px;
}

.card-title {
  height: 80px;
}



.fondoNaranaja {
  background: url(../../../assets/images/fondo2.png);
  background-size: cover;
}


@font-face {
  font-family: brandon-black;
  src: url(../../../assets/fonts/brandon-grotesque-black.otf) format("opentype");
}

@font-face {
  font-family: brandon-light;
  src: url(../../../assets/fonts/brandon-grotesque-light.otf) format("opentype");
}

@font-face {
  font-family: brando-regular-italic;
  src: url(../../../assets/fonts/brandon-grotesque-regular-italic.otf) format("opentype");
}



.computador img,
.computador div {
  position: absolute;
  width: 57vw;
  top: 11vw;
  /* left: 36vw; */
  right: 121PX;
}

.celular div {

  background: url(../../../assets/images/parallax-celular.jpg);
  border-radius: 1.5vw;
  background-size: 100% 29.4vw;
  background-position-y: 0vw;
  /* background-attachment: fixed; */
  background-position-x: 77vw;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  width: 11vw !important;
  left: 33.2vw !important;
}


.computador div.compu {
  background: url(../../../assets/images/parralax-computador.png);
  height: 29vw;
  width: 43.3vw;
  overflow: hidden;
  left: -9.6vw;
  top: 12vw;
  border-radius: 11px;
  background-position-y: 0vw;
  background-size: 100% 231%;
  background-position-x: 0vw;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
}

.computador .boton1 {
  top: 46vw;
  left: 59vw;
  width: 15vw;
}


.celular div {
  position: absolute;
  width: 13vw;
  top: 22vw;
  left: 77.2vw;
  height: 23.4vw;
}




.celular img {
  position: absolute;
  width: 13vw;
  top: 22vw;
  left: 32.2vw;
  height: 23.5vw;
}

.celular img:nth-child(1) {
  z-index: +3;
}

.celular img:nth-child(2) {
  border-radius: 2vw;
  padding-left: 6px;
  padding-right: 6px;
}

.mascaraCelular {
  background: url(../../../assets/images/celular.png);
  height: 25vw;
  width: 15vw;
  position: absolute;
  background-size: contain;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  top: 22.6vw;
}

.mascaraCelular .contenidoCelular {
  background: url(../../../assets/images/parallax-celular.jpg);
}


.contenedorPotencial {
  width: 31vw;
  left: 7vw;
  top: 14vw;
  position: absolute;
}

.contenedorPotencial p.titulo {
  font-size: 3vw;
  line-height: 2.5vw;
  color: rgb(40, 40, 40);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
}



.contenedorPotencial p.titulo span {
  color: rgb(255, 255, 255);
  font-size: 3vw;
  line-height: 2.5vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
}

.primerSub {
  margin-top: 1.5vw;
}

.subtitulos p {
  color: rgb(77, 79, 81);
  font-size: 1.4vw;
  line-height: 1.7vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
}

.subtitulos p span {
  color: rgb(77, 79, 81) !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
}

.subFinal {
  margin-top: 6.5vw;
}

.subFinal p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brando-regular-italic', 'arial', sans-serif;
  color: rgb(76, 76, 76) !important;
  font-size: 1vw;
}

.footer {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  bottom: 10vw;
}

.footer .footerCol {
  text-align: center;
}

.footer .nombre {
  bottom: 3vw;
}

.footer .nombre p span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  color: black;
}

.nombre p {
  font-size: 2vw;
}

.Celular-mobile {
  display: none;
}

.footerCol.boton2 input {
  background: url(../../../assets/images/boton.png);
  background-size: 18vw 5vw;
  background-position: top;
  border-radius: 5vw;
  text-align: -webkit-left;
  width: 14vw;
  background-repeat: no-repeat;

  font-family: 'brandon-black', 'arial', sans-serif;
  color: rgb(255, 255, 255) !important;
  font-size: 1.3vw;
  height: 3vw;
}

.footerCol.boton1 input {
  background: url(../../../assets/images/boton1.png);
  background-size: 14vw 2.8vw;
  background-position: center;
  text-align: center;
  width: 14vw;
  background-repeat: no-repeat;
  font-family: 'brando-regular-italic', 'arial', sans-serif;
  color: rgb(40, 40, 40) !important;
  height: 4vw;
  font-size: 1.3vw;
}

.tv {
  width: 26vw;
}

.boton1 input {
  background: url(../../../assets/images/boton2.png);
  background-size: 14vw 2.8vw;
  background-position: center;
  text-align: center;
  width: 14vw;
  background-repeat: no-repeat;
  color: white !important;
  height: 4vw;
  font-size: 1.3vw;
  font-family: 'brandon-black', 'arial', sans-serif;
}

@media only screen and (max-width: 425px) {

  /* .celular img:nth-child(1),
  .celular img:nth-child(2) {
    display: none;
  } */

  .row.footer div:nth-child(1),
  .row.footer div:nth-child(2) {
    display: none;
  }

  .computador div.compu {

    left: 58vw;
    height: 58vw;
    width: 56vw;
    overflow: hidden;
    background-position-x: left;
    z-index: +8;
    background-size: 92vw 157vw;

    top: 63vw;

  }

  .boton1 input {
    background-size: 32vw 8.8vw;
    background-position: center;
    text-align: center;
    width: 33vw;
    background-repeat: no-repeat;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: white !important;
    height: 10vw;
    font-size: 3.3vw;
  }

  .computador .boton1 {
    top: 75vw;
    left: 17vw;
    width: 39vw;
  }

  .computador img {
    height: 71vw;
    position: absolute;
    width: 103vw;
    z-index: +8;
    left: 46vw;
    top: 60vw;
  }

  /* .computador div {
    visibility: hidden;
  } */

  .celular div {
    top: 19.6vw;
    height: 25vh;
    width: 20vw !important;
    background-size: 29vw 60vw;
    background-position-x: 86.5vw;
    background-position-y: 0vw;
    left: 90vw !important;

  }

  .Celular-mobile {
    display: block;
  }

  .Celular-desk {
    display: none;
  }

  .celular img {

    z-index: +7;
    position: relative;
    width: 32vw;
    top: 18vw;
    left: 83vw;
    height: 28vh;

  }

  .contenedorPotencial {

    left: 8vw;
    width: 69vw;
    top: 14vw;

  }

  .contenedorPotencial p.titulo {
    font-size: 3vh;
    line-height: 1;
  }

  .contenedorPotencial p.titulo span {
    font-size: 6vw;
    line-height: 6.5vw;
  }

  .subtitulos {
    margin-bottom: 1vw;
  }

  .subtitulos p {
    font-size: 3vw;
    line-height: 1.2;
  }

  .subFinal {
    margin-top: 3.5vw;
    width: 38vw;
  }

  .subFinal p {
    font-size: 5px;
  }


  .footerCol.boton2 {
    position: absolute;
    left: -2vw;
    top: -3vw;

  }

  .footerCol.boton2 input {
    background-size: 46vw 15vw;
    background-position: top;
    border-radius: 5vw;
    text-align: -webkit-left;
    width: 37vw;
    background-repeat: no-repeat;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: rgb(255, 255, 255) !important;
    font-size: 3.3vw;
    height: 10vw;
  }
}


.botonServices {
  border: 1px solid #b3b3b3;
  color: white;
  background-color: #000;
  /* width: 200px; */
  border-radius: 13px;
}

.botonServices:hover {
  background-color: #1E272E;
  color: #ffffff;
}

.boton1 {
  margin-top: 23px;
}

.contenedorCompuCel {
  /* overflow: hidden; */
}
