<div class="arrow-izquierda" *ngIf="!(opcionActual==0)" (click)="moverCarrousel('izquierda')">
  <a><i class="fa fa-angle-left"></i></a>
</div>

<section>
  <h1>{{titulos[opcionActual]}}</h1>
  <div class="content">
    <p>{{cuerpo[opcionActual]}}</p>
    <a (click)="irA()" style="cursor: pointer">{{boton[opcionActual]}}</a>
  </div>
  <div class="img">
    <img src="../../../../assets/images/{{images[opcionActual]}}" />
  </div>
</section>


<div class="arrow-derecha" *ngIf="titulos.length - 1 > opcionActual" (click)="moverCarrousel('derecha')">
  <a><i class="fa fa-angle-right"></i></a>
</div>
