<div class="arrow-izquierda">
  <a (click)="moverCarrousel('izquierda')"><i class="fa fa-angle-left"></i></a>
</div>

<section>
  <h1>Nature</h1>
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, laborum suscipit doloremque, expedita voluptatum
      maiores corporis modi assumenda esse consectetur error nulla, vero alias.</p>
    <a href="">Learn more</a>
  </div>
  <div class="img">
    <img
      src="https://images.unsplash.com/photo-1445966275305-9806327ea2b5?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ&amp;s=14a02fab1200216368d682ecaa91e540" />
  </div>
</section>


<div class="arrow-derecha">
  <a (click)="moverCarrousel('derecha')"><i class="fa fa-angle-right"></i></a>
</div>
