<div class="row">
  <div class="col-6">
    <h1>Visitas a los modulos</h1>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
      [options]="pieChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-6">


    <h1>Desempeño academico</h1>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'line'" [options]="pieChartOptions"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>



  <div class="col-6">
    <h1>Cantidad de datos</h1>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'bar'" [options]="pieChartOptions"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-6">


    <h1>Cantidad de tiempo por modulo</h1>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'radar'" [options]="pieChartOptions"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>

</div>
